.page{
	width: 1200px;
	margin: auto;
	text-align: center;
}
.blocContainer{
	display: inline-block;
	height: 515px;
	vertical-align: top;
}
.bloc{
	display: inline-block;
	vertical-align: top;
	background: #f2f2f2;
	width: 250px;
	height: 475px;

	margin: 20px 0 0 20px;
	padding: 10px;

	box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	-o-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	-ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);

	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
}
.hublot{
	position: relative;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 10px auto;

	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	-ms-border-radius: 80px;
}
.hublot > img{
	position: absolute;
	top: 0px;
	left: -5px;
	width: 128px;
}
.bloc .title, .bloc .subtitle{
	text-align: center;
}
.guillemet{
	font-size: 40px;
	margin-top: -6px;
	display: inline-block;
}
.contenu span, .contenu i{
	vertical-align: middle;
	line-height: 30px;
}
.bloc .contenu{
	margin-top: 20px;
}


.contactLine, .companyLine{
	margin: 0;
	display: inline-block;
	background: #444;

	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}
.contactLine:hover, .companyLine:hover{
	background: #c0392b;
}
.contactLine, .contactLine img{
	width: 38px;
	vertical-align: middle;
}
.contactLine a{
	color: #444;
}

.companyLine, .companyLine img{
	width: 200px;
	vertical-align: middle;
}
.companyLine a{
	color: #444;
}


/* BLOCS exception */
#blocContact{
	height: 97.5px;
}
#blocCompanies{
	height: 337.5px;
	text-align: center;
}
#blocSkills, #blocSkillsBack, #blocDegree, #blocContactForm{
	width: 545px;
}
#blocMe .title, #blocMe .subtitle{
	margin: 10px 0;
}
#blocProject{
	width: 1134px;
	height: auto;
}


/* Skill plugin */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:10px;
	width:100%;
	background:#ddd;
	height:30px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	float: left;

	width:18%;
	font-weight:normal;
	font-family: 'Segoe UI';
	font-size:14px;
	color:#ffffff;

	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 5px;
	height:30px;
	line-height:30px;
	text-align: center;

	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:1px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-family: 'Segoe UI';
}
.spacer
{
	width:10px;
	height: 1px;
	display: inline-block;
}
.contactForm{
	text-align: left;
}
.contactForm input{
	padding: 5px;
	border: none;
	background: #f2f2f2;
	margin: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid #d2d2d2;
	color: #444;
	font-family: 'Segoe UI';
	width: 250px;
}
.contactForm textarea{
	padding: 5px;
	border: none;
	background: #e2e2e2;
	margin: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid #d2d2d2;
	color: #444;
	font-family: 'Segoe UI';

	width: 98%;

}
.contactForm input[type="submit"]{
	border-bottom: 1px solid #c2c2c2;
	margin: auto;
	display: block;
	width: 100px;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px;
}
.contactForm input[type="submit"]:hover{
	background: #e2e2e2;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
}
.message{
	margin: 10px auto;
	padding: 10px;
	background: rgba(22, 160, 133,0.6);
	color: white;
	text-align: center;
}
.ErrorPage{
	height: 100%;
}
.ErrorPage h1{
	text-align: center;
	margin: 40px auto;
	font-size: 40px;
	font-weight: normal;
	color: #e2e2e2;
}
.ErrorPage p{
	font-size: 600px;
	text-align: center;
	color: #e2e2e2;
}

.araigne-toile{

}
.araigne{
	
}