@media screen and (max-width:1024px){
	#blocProject{
		width: auto;
		margin: 20px;
	}
	.page{
			width: 800px;
	}
}
@media screen and (max-width:800px){
	.page{
			width: 600px;
	}	
	#blocMe{
			margin: 20px !important;
	}
	.blocContainer .bloc {
			margin: 20px 0;
			height: auto !important;
	}
	.blocContainer{
			height: auto !important;
	}
}
@media screen and (max-width:600px){
	#blocSkills, #blocSkillsBack, #blocDegree, #blocContactForm{
		width: auto;
		margin: 20px !important;
	}
	.page{
			width: 400px;
	}
	.skillbar-title span{
		font-size: 7px;
	}
}
@media screen and (max-width:400px){
	.bloc{
		width: auto;
		margin: 20px !important;
		height: auto;
	}
	.blocContainer{
		width: auto;
		height: auto;
	}
	#blocDegree{
		height: auto;
	}
	#blocProject{
		padding: 10px 0;
	}
	#blocProject .view{
		margin: 10px auto;
	}
	.page{
			width: auto;
	}
}
@media screen and (max-width:380px){
	#blocProject .view{
		border: none;
		display: block;
	}
}
@media screen and (max-width:360px){
	#blocProject{
		margin: 20px 0 !important;
	}
}